/* add future support for light/dark preferred 
:root {
--text: #101010;
--background: #fafafa;
--other: #eeeeee;
}

@media (prefers-color-scheme: dark) {
:root {
--text: #fafafa;
--background: #101010;
--other: #202020;
}
}

*/

@charset "utf-8";

.fs-10 {font-size: .66rem !important}
.fs-12 {font-size: .8rem !important}
.fs-14 {font-size: .95rem !important}
.fs-15 {font-size: 1rem !important}
.fs-16 {font-size: 1.06rem !important; line-height:1.4}
.fs-18 {font-size: 1.2rem !important; line-height:24px}
.fs-20 {font-size: 1.33rem !important}
.fs-22 {font-size: 1.46rem !important; line-height: 1.1}
.fs-24 {font-size: 1.6rem !important; line-height:1.9rem;}
.fs-26 {font-size: 1.73rem !important}
.fs-28 {font-size: 1.86rem !important;}
.fs-30 {font-size: 2rem !important}
.fs-32 {font-size: 2.13rem !important; line-height:34px}
.fs-36 {font-size: 2.4rem !important; line-height: 1.25}
.fs-40 {font-size: 2.66rem !important; line-height: 1.25}
.fs-44 {font-size: 2.93rem !important}
.fs-48 {font-size: 3.2rem !important}

.lh-48 {line-height: 3.2rem}

.fw-100 {font-weight: 100 !important}
.fw-200 {font-weight: 200 !important}
.fw-300 {font-weight: 300 !important}
.fw-400 {font-weight: 400 !important}
.fw-500 {font-weight: 500 !important}
.fw-600 {font-weight: 600 !important}
.fw-700 {font-weight: 700 !important}
.fw-800 {font-weight: 800 !important}
.fw-900 {font-weight: 900 !important}

/* UIKit css overrides */
:root{
    --primary: rgb(74, 80, 156);
    --secondary: #222;
    --muted: rgb(248, 248, 248);
    --muted-darker: rgb(102,102,102);
}

html {
    font-family: "Barlow", sans-serif;
    font-size: 16.5px;
    line-height: 1.6;
    font-weight:400;
}

blockquote {
    font-size: 1.1rem;
    font-style: normal;
}

blockquote footer {
    font-style: italic;
}

h1, h2, h3 {
    font-family: "Crimson Pro", serif;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.25rem;
    margin-top: .5rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    text-transform: none;
}

h3 a {
    text-decoration: underline dotted 1px;
    text-underline-offset: 4px;
}

h3 a:hover {
    color:inherit;
    text-decoration: underline solid 1px;
}

.uk-navbar-nav > li > a, .uk-button {
    text-transform: none;
}
.uk-text-small {
  font-size: 0.75rem;
    font-weight: 700;
  line-height: 1.5;
}

::selection {
    background: rgba(74, 80, 156, 1);
    color: #fff;
    text-shadow: none;
}

.uk-button {
    font-weight: 500;
    font-size: 1rem
}

.uk-text-bold {
  font-weight: 600;
}

/* broken :|
.uk-nav>li.uk-active>a:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0
}
*/


*/
.uk-padding {
  padding: 24px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-padding {
    padding: 24px;
  }
}
/* Small
 ========================================================================== */
.uk-padding-small {
  padding: 16px;
}
/* Large
 ========================================================================== */
.uk-padding-large {
  padding: 40px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-padding-large {
    padding: 70px;
  }
}


/* new css */


/* pill
========================================================================== */

.pill {
    border-radius: 5px;
}
/* Phone landscape and bigger */
@media (min-width: 640px) {
    .pill {
        border-radius: 500px;
    }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
    .pill {
        border-radius: 500px;
    }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
    .pill {
        border-radius: 500px;
    }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
    .pill {
        border-radius: 500px;
    }
}


.warm {
    --gc1: 130, 102, 255,;
    --gc2: 193, 179, 255,;
    --color: 255, 255, 255,;
    --colorHover: 44, 25, 18,;
    outline: 1px solid rgba(var(--gc2) 1) 
}

.cool {
    --gc1: 0, 113, 227,;
    --gc2: 0, 119, 237,;
}

.button-white {
    --gc2: 202, 204, 209,;
    --gc1: 248, 248, 248,;
    --color: 44, 25, 18;
    --colorHover: 44, 25, 18,;
    outline: 1px solid rgba(var(--gc2) 1) 
}

.button-white > div > div > span, .warm > div > div > span {
    color: rgba(var(--colorHover) 1);    
}


.pulse {
    background-color: rgba(var(--gc1) 1);
    text-align: center;
    transition: 0.5s;
    background-size: 800% auto;
    color: rgba(var(--color) 1);            
    display: block;
}

.pulse:hover {
    animation: animation 2s cubic-bezier(0.052, 0.805, 0.267, 1.003) 0s 1 normal none;
    animation-iteration-count: infinite;
    background-color: rgba(var(--gc2) 1);
    color: rgba(var(--colorHover) 1) !important;
}



@keyframes animation {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--gc2) .85);
    }
    3% {

    }
    20% {

    }
    100% {
        box-shadow: 0 0 0 15px rgba(var(--gc2) 0.15);
    }
}

.uk-border-rounded {
  border-radius: 4px;
}
.uk-border-rounded-medium {
  border-radius: 8px;
}

.uk-border-rounded-large {
  border-radius: 16px;
}

.border {
    border: 1px solid #acacac
}

.border-muted {
    border: 2px solid var(--muted-darker)
}

.uk-background-muted-darker {
 background-color: var(--muted-darker);
}

/* From https://css.glass */
.frost {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.dark-frost {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}